<section class="footer-links">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="footer-column">
                    <h3>Player Ligontents</h3>
                    <ul>
                        <li>• Partners</li>
                        <li>• All Users</li>
                        <li>• Detailed Fresh</li>
                        <li>• Notches</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="footer-column">
                    <h3>Fresidents</h3>
                    <ul>
                        <li>Goals</li>
                        <li>Players</li>
                        <li>Play Guides</li>
                        <li>Fights</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="footer-column">
                    <h3>Time</h3>
                    <ul>
                        <li>Hours</li>
                        <li>Days</li>
                        <li>Nights</li>
                        <li>Sunny</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="footer-column">
                    <h3>Colonies</h3>
                    <ul>
                        <li>Gamers</li>
                        <li>Teamwork</li>
                        <li>Steeples</li>
                        <li>Cooty</li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="footer-column">
                    <h3>Games</h3>
                    <ul>
                        <li>Decks</li>
                        <li>Pumpy</li>
                        <li>Invicibles</li>
                        <li>Neitherly</li>
                        <li>Pool Partners</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>