<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Game Cards - First Row -->
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="https://aravindadityxa.github.io/tangletrek/" target="_blank">
                        <img src="assets/logo/tangle-trek.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="games/TargetTrails/target-trails.html">
                        <img src="assets/logo/target-trails.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="https://aravindadityxa.github.io/snakescape/" target="_blank">
                        <img src="assets/logo/snake-scape.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>

            <!-- Stats Card -->
            <!-- <div class="col-sm-6 col-md-12 col-lg-3 mb-4">
                <div class="stats-card">
                    <div class="stats-section">
                        <h3>Lobby Games</h3>
                        <div class="stats-game">
                            <span>17 Games</span>
                            <span class="settings-icon"><i class="bi bi-info-circle"></i></span>
                        </div>
                    </div>
            
                    <div class="stats-section">
                        <h3>Legal</h3>
                        <div class="stats-game">
                            <span>Cookies</span>
                            <span class="settings-icon"><i class="bi bi-gear"></i></span>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Game Cards - Second Row -->
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="games/TowerBrick/tower-brick.html">
                        <img src="assets/logo/tower-brick.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="games/TwistingTunnels/twisting-tunnels.html">
                        <img src="assets/logo/twisting-tunnels.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="games/BounceBattle/bounce-battle.html">
                        <img src="assets/logo/bounce-battle.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>

            <!-- Game Cards - Third Row -->
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="games/RiskyRoads/risky-roads.html">
                        <img src="assets/logo/risky-roads.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="games/EchoOrders/echo-orders.html">
                        <img src="assets/logo/echo-orders.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <a href="games/KeyClash/key-clash.html">
                        <img src="assets/logo/key-clash.jpg" alt="Game" class="img-fluid home-img">
                    </a>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="game-card">
                    <img src="https://res.cloudinary.com/diyogyid5/image/upload/v1740684203/bsm1abvsbmmiebzirllt.jpg" alt="Game" class="img-fluid home-img">
                </div>
            </div> -->
        </div>

        <!-- Search Bar -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control search-custom" placeholder="Game">
                    <button class="btn search-btn-custom" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</section>