<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h1>Tricky Trails</h1>
                <div class="mb-2">🟡</div>
                <p>Tricky Trails is a premier gaming platform featuring rare and innovative games, designed with a superior interface for an unparalleled experience.</p>
            </div>
            <div class="col-lg-7">
                <div id="heroCarousel" class="carousel slide hero-carousel p-5 ml-5 mr-5" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="hero-card">
                                <a href="https://aravindadityxa.github.io/tangletrek/" target="_blank">
                                    <img src="assets/banner/tangle-trek.jpg" alt="Game" class="img-fluid home-img">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hero-card">
                                <img src="assets/banner/target-trails.jpg" alt="Game" class="img-fluid home-img">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
